{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="content-header">
        <h1>
            Upload your rides
        </h1>
    </section>
    <section class="content">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags == 'error' %}class="alert alert-danger"{% else %}class="alert alert-success"{% endif %} role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Select a route you have ridden</h3>
                    </div>
                    <form enctype="multipart/form-data" data-toggle="validator" role="form" method="post" action="">
                        {% csrf_token %}
                        <div class="box-body">
                            <div {% if form.route.errors %}class="form-group has-error"{% else %}class="form-group"{% endif %}>
                                <label for="{{ form.route.auto_id }}">{{ form.route.label }}</label>
                                    {{ form.route }}
                                <span class="help-block">{{ form.route.errors.as_text }}</span>
                            </div>
                            <div {% if form.fitFile.errors %}class="form-group has-error"{% else %}class="form-group"{% endif %}>
                                <label for="{{ form.fitFile.auto_id }}">FIT file upload</label>
                                {{ form.fitFile }}
                                <span class="help-block">{{ form.fitFile.errors.as_text }}</span>
                                <small class="form-text text-muted">
                                    Select a .FIT file from your Garmin.
                                </small>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit your time</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}