{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
   
   	<div class="row">
	    <div class="col-md-12">
			<div class="jumbotron">
		  		<h1>Welcome!</h1>
		  		<p>Theres not much here yet...</p>
		  		<p>
                    <a class="btn btn-primary btn-lg" href="routes">Find some routes</a>
                </p>
			</div>
   		</div>
   	</div>
</div>
{% endblock content %}